.table {
    width: 100%;
}
.column {
    border: none;
    padding: 0;
}
.column a {
    color: white;
}
.column a:hover {
    text-decoration: underline;
}
.icon {
    padding-right: var(--spacing-Quarter);
}
