.Widget-module__widget___28J7t {
    background-color: var(--colors-ContrastNeutral);
}

.Widget-module__header___Kz5M- {
    display: flex;
    border-bottom: 1px solid var(--colors-ContrastDarker);
    padding: 0 var(--spacing-Half);
    line-height: var(--spacing-GoldenUnit);
}

.Widget-module__body___3ykMP {
    padding: var(--spacing-Half);
}

.Widget-module__label___19qZs {
    flex-grow: 1;
}

.Widget-module__subtitle___2xMBP {
    color: var(--colors-ContrastBrighter);
    text-align: right;
}

.ReferenceListView-module__table___3wBLG {
  width: 100%;
}

.ReferenceListView-module__column___iiFyA {
  border: none;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.ReferenceListView-module__column___iiFyA a {
  color: white;
}

.ReferenceListView-module__column___iiFyA a:hover {
  text-decoration: underline;
}

.ReferenceListView-module__icon___lAduG {
  padding-right: var(--spacing-Quarter);
}

.ReferenceListView-module__warnIcon___1Hc9r {
  color: var(--colors-Warn);
}

